{% extends 'base.html.twig' %}

{% block head %}
<html lang="en">
  <head>
<title>Admin</title>
</head>
{% endblock %}
{% block body %}
<div class="content-page">
        <div class="container-fluid">
            <div class="row">
         
   <div class="col-sm-12">
                  <div class="card">
                     <div class="card-header d-flex justify-content-between">
                        <div class="header-title">
                           <h4 class="card-title">User List</h4>
                        </div>
                     </div>
                     <div class="card-body">
                           <div class="row justify-content-between">
                              <div class="col-sm-6 col-md-6">
                                 <div id="user_list_datatable_info" class="dataTables_filter">
                                   
                                 </div>
                              </div>
                              <div class="col-sm-6 col-md-6">
                                 
                              </div>
                           </div>
                           <div class="table-responsive">
                           {# data table #}

                              <table id="user-list-table" class="tableau table table-striped table-bordered mt-4 " role="grid" aria-describedby="user-list-page-info">
                              <thead>
                              
                                    <tr>
                                      
                                       <th scope="col">Name</th>
                                    
                                       <th scope="col">Email</th>
                                       <th scope="col">Verified</th>
                                 
                                   
                                       {# <th scope="col">Join Date</th> #}
                                       <th scope="col">Action</th>
                                    </tr>
                              </thead>
                              <tbody>
                              {% for user in users %}
                                
                                    <tr>
                                       {# <td class="text-center"><img class="rounded img-fluid avatar-40" src="../assets/images/user/01.jpg" alt="profile"></td> #}
                                       <td>{{user.getfullname()}}</td>
                                       <td>{{user.email}}</td>
                                       
                                       {% if user.isVerified %}
                                       <td>
                                       <button type="button" disabled class="mt-2 btn btn-success rounded-circle"><i class="la la-check-circle"></i></button>
                                       </td>
                                       {% else %}
                                         <td>
                                          <a href="{{path('verify_user' , {'id' : user.id}   )}}"><button type="button"  class="btn btn-danger rounded-circle"><i class="la la-close"></i></button>
                                       </td>
                                       {% endif %}
                                       
                                       
                                       {# <td></td> #}
                                       
                                       <td>
                                          <div class="flex align-items-center list-user-action">
                                          
                                             <a class="iq-bg-primary" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete" href="{{ path('remove_user', {'id': user.id}) }}"><i class="ri-delete-bin-line"></i></a>
                                          </div>
                                       </td>
                                    </tr>
                                  
                                    
                              {% endfor %}
                              </tbody>
                              </table>
                           </div>
                           {# <div class="row justify-content-between mt-3">
                              <div id="user-list-page-info" class="col-md-6">
                                 <span>Showing 1 to 5 of 5 entries</span>
                              </div>
                              <div class="col-md-6">
                                 <nav aria-label="Page navigation example">
                                    <ul class="pagination justify-content-end mb-0">
                                       <li class="page-item disabled">
                                          <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Previous</a>
                                       </li>
                                       <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                       <li class="page-item"><a class="page-link" href="#">2</a></li>
                                       <li class="page-item"><a class="page-link" href="#">3</a></li>
                                       <li class="page-item">
                                          <a class="page-link" href="#">Next</a>
                                       </li>
                                    </ul>
                                 </nav>
                              </div> 
                           </div> #}
                     </div>
                  </div>
            </div>
         </div>
      
     <script src="{{asset("assets/js/app.js")}}" ></script>
 <script>$(document).ready(function () {
     $('#user-list-table').DataTable();
 });</script>
{% endblock %}


